BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
AllowShortLoopsOnASingleLine: true

BraceWrapping:
  AfterControlStatement: Never   # don't force newline after 'if'
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true

# AllowShortFunctionsOnASingleLine: All # should stop splitting some of my one line functions


AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All


# AllowShortCaseLabelsOnASingleLine: true
# AllowShortFunctionsOnASingleLine: Inline
# AllowShortBlocksOnASingleLine: true

# BraceWrapping:
#   AfterControlStatement: false


