# Ignore build directory
/build/

# Ignore virtual environments
.venv/
venv/
ENV/


/scripts/temp/
/scripts/output/
/output/
/bin/output/
/bin/

/__pycache__/

/blender/
/scripts/tools/__pycache__/

# ignore all __pycache__ folders?
__pycache__/ 
*.pyc
