# Ignore build directory
/build/

# Ignore virtual environments
.venv/
venv/
ENV/


/scripts/temp/
/scripts/output/
/output/
/bin/output/
/bin/

/__pycache__/

/blender/
/scripts/tools/__pycache__/

# ignore all __pycache__ folders?
__pycache__/ 
*.pyc

lib/cuda_texture_gen/cuda_texture_gen.cp313-win_amd64.pyd
lib/cuda_texture_gen/cuda_texture_gen.cpython-312-x86_64-linux-gnu.so
lib/cuda_texture_gen/cuda_texture_gen.pyi
